

.CardWidth {
    width: 200px;
    background-color: rgb(17, 16, 16);
    border-radius: 10px;
    margin: 10px;
    padding: 10px 0px;
    box-shadow: 1px 3px 2px 3px rgba(0, 0, 0, 0.3);
    font-size: 1rem;

}
.CardEffect:hover{
    background-color: rgb(22, 21, 21);
}


.CardImg {
    width: 180px;
    border-radius: 10px ;
}

.CardFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
   
}
